@model IList<JobSystem.Mvc.ViewModels.Orders.OrderIndexViewModel>

@{
	ViewBag.Title = "Approved Orders";
}

<div id="toggle-container-orders">
	<span class="toggle toggle-left"><a href="@Url.Action("PendingOrderItems")">Items</a></span>
	<span class="toggle toggle-middle"><a href="@Url.Action("PendingOrders")">Pending</a></span>
	<span class="toggle toggle-active toggle-right"><a href="@Url.Action("ApprovedOrders")">Approved</a></span>
</div>

@if (Model.Any())
{

	var grid = new WebGrid(Model, defaultSort: "OrderNo", canSort: false, rowsPerPage: 15);
	
	@grid.GetHtml(columns: grid.Columns(
		grid.Column("OrderNo", "Order No."),
		grid.Column("SupplierName", "Supplier Name"),
		grid.Column("Instructions", "Instructions"),
		grid.Column("", "Items", format: @<span class="the-tooltip center top dark-midnight-blue itemCount">
					@item.OrderItems.Count items
					<span>
					@foreach (var oi in item.OrderItems)
	 {
						<span>
							Delivery: @oi.DeliveryDays<br />
							Description: @oi.Description<br />
							Part No.: @oi.PartNo<br />
							Price: @oi.Price<br />
							Quantity: @oi.Quantity
						</span><br />
	 }	
					</span>
				</span>),
		grid.Column("Print", "", format: @<text>@Html.ActionLink("Print Note", "GenerateOrderReport", new { id = @item.Id }, new { target = "blank" })</text>)
	))
}
else
{
	<div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoOrders</div>
}


<div id="edit-order-container">
</div>

<input type="hidden" id="editUrl" value="@Url.Action("Edit", "Order")"/>
