@model IList<JobSystem.Mvc.ViewModels.Orders.OrderIndexViewModel>

@{
    ViewBag.Title = "Approved Orders";
}

<div id="toggle-container-orders">
	<span class="toggle toggle-left"><a href="@Url.Action("PendingOrderItems")">Items</a></span>
	<span class="toggle toggle-middle"><a href="@Url.Action("PendingOrders")">Pending</a></span>
	<span class="toggle toggle-active toggle-right"><a href="@Url.Action("ApprovedOrders")">Approved</a></span>
</div>

@if (Model.Any()) {
	<table>
		<tr>
			<th>Order No.</th>
			<th>Supplier Name</th>
			<th>Instructions</th>
			<th>Items</th>
			<th></th>
		</tr>
	@foreach (var item in Model.OrderBy(i => i.SupplierName))
	 {
		<tr>
			<td>
				@item.OrderNo
			</td>
			<td>
				@item.SupplierName
			</td>
			<td>
				@item.Instructions
			</td>
			<td>
				<span class="the-tooltip center top dark-midnight-blue itemCount">
					@item.OrderItems.Count items
					<span>
					@foreach (var oi in item.OrderItems) {
						<span>
							Delivery: @oi.DeliveryDays<br />
							Description: @oi.Description<br />
							Part No.: @oi.PartNo<br />
							Price: @oi.Price<br />
							Quantity: @oi.Quantity
						</span><br />
					}	
					</span>
				</span>
			</td>
			<td>
				@Html.ActionLink("Print Note", "GenerateOrderReport", new { id = @item.Id })
			</td>
		</tr>
	 }
	</table>
}else{
	<div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoOrders</div>
}


<div id="edit-order-container">
</div>

<input type="hidden" id="editUrl" value="@Url.Action("Edit", "Order")"/>
