@model JobSystem.Mvc.ViewModels.Orders.OrderItemCreateViewModel
@{
    ViewBag.Title = "Raise Order";
}
<h2>Raise Order</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="create-order-container">
@using (Html.BeginForm("CreateItem", "Order", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <span class="form-section">
        Details
    </span>
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.Instructions)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Instructions)
            @Html.ValidationMessageFor(model => model.Instructions)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PartNo)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PartNo, new { @class = "short-text" })
            @Html.ValidationMessageFor(model => model.PartNo)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.DeliveryDays)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.DeliveryDays, new { @class = "short-text" })
            @Html.ValidationMessageFor(model => model.DeliveryDays)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Price, new { @class = "short-text" })
            @Html.ValidationMessageFor(model => model.Price)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Carriage)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Carriage, new { @class = "short-text" })
            @Html.ValidationMessageFor(model => model.Carriage)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Quantity, new { @class = "short-text" })
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>
        @Html.HiddenFor(m => m.OrderId)
    </fieldset>
    <input type="submit" class="primary-action" value="Raise"/>
    <a href="@Url.Action("Index", "Order")" class="secondary-action">Cancel</a>
}
</div>
