@model JobSystem.Mvc.ViewModels.Orders.OrderDetailsViewModel
@{
	ViewBag.Title = "Details";
}

<div id="job-top-section">
	<div id="job-title-container">
		<h2>Order @Model.OrderNo</h2>
		<p id="job-created-by">Created on @Model.DateCreated by <a href="mailto:@Model.CreatedBy">@Model.CreatedBy</a></p>
		<div id="job-details-container">
			<div id="job-details-notes">
				<span class="details-header">Supplier</span>
				<span class="field">@Model.SupplierName</span>
			</div>
			<div id="job-details-instruction">
				<span class="details-header">Instructions</span>
				<span class="field">@Model.Instructions</span>
			</div>
		</div>
	</div>
</div>

 <!-- Start HTML - Vertical tabs -->
    <div id="st_vertical" class="st_vertical st_vertical_order">
                        
        <div class="st_tabs_container">
                                                   
            <a href="#prev" class="st_prev"></a>
            <a href="#next" class="st_next"></a>
                                                                                                 
            <div class="st_slide_container">
            
			                      

                <ul class="st_tabs">
                    <li><a href="@Url.Action("CreateItem", "Order", new { orderId = @Model.Id })" id="@Model.Id" class="create-item-button">Add a new Order Item</a></li>
					
					@for (int i = 0; i < Model.OrderItems.Count(); i++)
					{
						var item = Model.OrderItems[i];
						var href = String.Format("#stv_content_{0}", i);
						<li>
							
							<a href="@href" rel="v_tab_0" class="st_tab @(i == 0 ? "st_tab_active" : "")" id="@item.Id">
							<span class="jiStatus">@i</span>
							<span>@item.Description</span></a>
						</li>
					}   
                </ul>
                
            </div> <!-- /.st_slide_container -->
        
        </div> <!-- /.st_tabs_container -->                               
        
        <div class="st_view_container">        	            
            
            <div class="st_view">
                
				@for (int i = 0; i < Model.OrderItems.Count(); i++)
				{
				 var item = Model.OrderItems[i];
				 var divId = String.Format("stv_content_{0}", i);
				 <div id="@divId" class="st_tab_view st_first_tab_view">
					<h2>@i</h2>
					@item.Instructions
					@item.Description
					@item.Currency
					@item.PartNo
					@item.DeliveryDays
					@item.Price
					@item.Quantity
                    <div class="text">
                    </div>                            
                </div>   
				}

            </div> <!-- /.st_view -->                        
         
        </div> <!-- /.st_view_container -->
    
    </div> <!-- /#st_vertical -->
    <!-- End HTML - Vertical tabs -->

<div class="clear"></div>