@model JobSystem.Mvc.ViewModels.Orders.OrderEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Order</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="create-order-container">
@using (Html.BeginForm("Edit", "Order", FormMethod.Post))
{
	@Html.ValidationSummary(true)
	<span class="form-section">
		Details
	</span>
	<fieldset>
		<div class="editor-label">
			@Html.LabelFor(model => model.SupplierId)
		</div>
		<div class="editor-field">
			@Html.TextBox("SupplierAutocomplete", Model.SupplierName, new { id = "supplier-autocomplete" })
			@Html.HiddenFor(model => model.SupplierId, new { id = "SupplierId" })
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Instructions)
		</div>
		<div class="editor-field">
			@Html.TextAreaFor(model => model.Instructions)
			@Html.ValidationMessageFor(model => model.Instructions)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Currencies)
		</div>
		<div class="editor-field">
			@Html.DropDownListFor(model => model.CurrencyId, Model.Currencies, new { @class = "long-dropdown" })
			@Html.ValidationMessageFor(model => model.Currencies)
		</div>
	</fieldset>
	<input type="submit" class="primary-action" value="Save"/>
	<a href="@Url.Action("Index", "Order")" class="secondary-action">Cancel</a>
}
</div>