@model IList<JobSystem.Mvc.ViewModels.Orders.OrderIndexViewModel>

@{
    ViewBag.Title = "Pending Orders";
}

<div id="toggle-container-orders">
	<span class="toggle toggle-left"><a href="@Url.Action("PendingOrderItems")">Items</a></span>
	<span class="toggle toggle-active toggle-middle"><a href="@Url.Action("PendingOrders")">Pending</a></span>
	<span class="toggle toggle-right"><a href="@Url.Action("ApprovedOrders")">Approved</a></span>
</div>

@Html.ActionLink("Raise Order", "CreateIndividualOrder", new { }, new { @class = "primary-action" })

@if (Model.Any()) {
	
	var grid = new WebGrid(Model, defaultSort: "OrderNo", canSort: false, rowsPerPage: 15);
	
	@grid.GetHtml(columns: grid.Columns(
		grid.Column("OrderNo", "Order No.", format: @<text>@Html.ActionLink((string)item.OrderNo, "Details", new { id = item.Id })</text>),
		grid.Column("SupplierName", "Supplier Name"),
		grid.Column("Instructions", "Instructions"),
		grid.Column("", "Items", format: @<span class="the-tooltip center top dark-midnight-blue itemCount">
					@item.OrderItems.Count items
					<span>
					@foreach (var oi in item.OrderItems)
					{
						<span>
							Delivery: @oi.DeliveryDays<br />
							Description: @oi.Description<br />
							Part No.: @oi.PartNo<br />
							Price: @oi.Price<br />
							Quantity: @oi.Quantity
						</span><br />
					}	
					</span>
				</span>),
		grid.Column("Approval", "", format: @<text>@Html.ActionLink("Approve", "ApproveOrder", new { id = @item.Id })</text>)
	))
}
else
{
	<div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoOrders</div>
}


<div id="edit-order-container">
</div>

<input type="hidden" id="editUrl" value="@Url.Action("Edit", "Order")"/>
