@model IList<JobSystem.Mvc.ViewModels.Orders.OrderItemIndexViewModel>

@{
    ViewBag.Title = "Items";
}

<div id="toggle-container-orders">
	<span class="toggle toggle-active toggle-left"><a href="@Url.Action("PendingOrderItems")">Items</a></span>
	<span class="toggle toggle-middle"><a href="@Url.Action("PendingOrders")">Pending</a></span>
	<span class="toggle toggle-right"><a href="@Url.Action("ApprovedOrders")">Approved</a></span>
</div>

@using (Html.BeginForm("OrderPending", "Order", FormMethod.Post))
{

	if (Model.Any()) {

	<input class="primary-action" type="submit" value="Order"/>

	var grid = new WebGrid(Model, defaultSort: "SupplierName", canSort: false, rowsPerPage: 15);
	
	@grid.GetHtml(columns: grid.Columns(
		grid.Column("ToBeConverted", "", format: @<input type="checkbox" name="ToBeConvertedIds" value="@item.Id"/>),
		grid.Column("SupplierName", "Supplier Name"),
		grid.Column("Instructions", "Instructions"),
		grid.Column("Description", "Description"),
		grid.Column("PartNo", "Part No."),
		grid.Column("DeliveryDays", "Delivery Days"),
		grid.Column("Price", "Price"),
		grid.Column("Quantity", "Quantity"),
		grid.Column("", "", format: @<text>@if (item.IsMarkedReceived) @Html.ActionLink("Order Received", "MarkOrderReceived", new { id = @item.Id })</text>)
	))
}else{
	<div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoOrders</div>
}
}

<div id="edit-order-container">
</div>

<input type="hidden" id="editUrl" value="@Url.Action("Edit", "Order")"/>
