@model IList<JobSystem.Mvc.ViewModels.Orders.OrderItemIndexViewModel>

@{
    ViewBag.Title = "Items";
}

<div id="toggle-container-orders">
	<span class="toggle toggle-active toggle-left"><a href="@Url.Action("PendingOrderItems")">Items</a></span>
	<span class="toggle toggle-middle"><a href="@Url.Action("PendingOrders")">Pending</a></span>
	<span class="toggle toggle-right"><a href="@Url.Action("ApprovedOrders")">Approved</a></span>
</div>

@using (Html.BeginForm("OrderPending", "Order", FormMethod.Post))
{

if (Model.Any()) {

	<input class="primary-action" type="submit" value="Order"/>
	<table>
		<tr>
			<th></th>
			<th>Supplier</th>
			<th>Instructions</th>
			<th>Description</th>
			<th>Part No.</th>
			<th>Delivery Days</th>
			<th>Price</th>
			<th>Quantity</th>
			<th></th>
		</tr>
	@foreach (var item in Model.OrderBy(i => i.SupplierName))
	 {
		<tr>
			<td>
				<input type="checkbox" name="ToBeConvertedIds" value="@item.Id"/>
			<td>
				@item.SupplierName
			</td>
			<td>
				@item.Instructions
			</td>
			<td>
				@item.Description
			</td>
			<td>
				@item.PartNo
			</td>
			<td>
				@item.DeliveryDays
			</td>
			<td>
				@item.Price
			</td>
			<td>
				@item.Quantity
			</td>
			<td>
				<a href="#" class="editConsignmentButton" id="@item.Id">Edit</a>
			</td>
		</tr>
	 }
	</table>
}else{
	<div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoOrders</div>
}
}

<div id="edit-order-container">
</div>

<input type="hidden" id="editUrl" value="@Url.Action("Edit", "Order")"/>
