@model IList<JobSystem.Mvc.ViewModels.Consignments.ConsignmentIndexViewModel>

@{
    ViewBag.Title = "Consignments";
}

<div id="toggle-container">
	<span class="toggle toggle-left"><a href="@Url.Action("PendingConsignments")">Pending</a></span>
	<span class="toggle toggle-active toggle-right"><a href="@Url.Action("ActiveConsignments")">Consigned</a></span>
</div>

@if (Model.Any()) {
	<table class="approvedQuoteTable" id="approvedQuoteTableHead">
		<tr>
			<th>Consignment No</th>
			<th>Supplier Name</th>
			<th>Created By</th>
			<th>Date Created</th>
			<th></th>
			<th></th>
		</tr>
	</table>
	foreach (var item in Model.OrderBy(i => i.ConsignmentNo))
	{
	<table class="approvedQuoteTable">
		<tr>
			<td>
				@item.ConsignmentNo
			</td>
			<td>
				@item.SupplierName
			</td>
			<td>
				@item.CreatedBy
			</td>
			<td>
				@item.DateCreated
			</td>
			<td id="consignmentEditHeader">
				@if (item.IsOrdered) {
					@: Ordered
				} else {
					@Html.ActionLink("Edit", "Edit", new { id = item.Id })
					@Html.ActionLink("Order", "ConvertToOrder", new { id = item.Id })
				}
			</td>
			<td>
				@Html.ActionLink("Print Note", "GenerateConsignmentNote", new { Id = @item.Id }, new { target="_blank"})
			</td>
		</tr>
	</table>
	<table class="approvedQuoteItemTable">
		<tr>
			<th>Job</th>
			<th>Instrument</th>
			<th>Instructions</th>
			<th class="shortColumn"></th>
		</tr>	
		@foreach (var ci in item.ConsignmentItems)
		{
			<tr id="@ci.Id">
				<td>
					@ci.JobItemRef
				</td>
				<td>
					@ci.InstrumentDetails
				</td>
				<td>
					@ci.Instructions
				</td>
				<td class="shortColumn">
					@if (item.IsOrdered) {
						@: Ordered
					} else {
						@Html.ActionLink("Edit", "EditItem", new { id = ci.Id })
					}	
				</td>
			</tr>
		}
	</table>
	<div class="clear"></div>
	}
}
else
{
	<div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoConsignments</div>
}


<div id="edit-consignment-container">
</div>

<input type="hidden" id="editUrl" value="@Url.Action("Edit", "Consignment")"/>
