@model IList<JobSystem.Mvc.ViewModels.Consignments.ConsignmentIndexViewModel>

@{
    ViewBag.Title = "Consignments";
}

<div id="toggle-container">
	<span class="toggle toggle-left"><a href="@Url.Action("PendingConsignments")">Pending</a></span>
	<span class="toggle toggle-active toggle-right"><a href="@Url.Action("ActiveConsignments")">Consigned</a></span>
</div>

@if (Model.Any()) {
	<table>
		<tr>
			<th>Consignment No</th>
			<th>Supplier Name</th>
			<th>Created By</th>
			<th>Date Created</th>
			<th>Items</th>
			<th></th>
			<th></th>
		</tr>
	@foreach (var item in Model.OrderBy(i => i.SupplierName))
	 {
		<tr>
			<td>
				@item.ConsignmentNo
			</td>
			<td>
				@item.SupplierName
			</td>
			<td>
				@item.CreatedBy
			</td>
			<td>
				@item.DateCreated
			</td>
			<td>
				<span class="the-tooltip center top dark-midnight-blue itemCount">
					@item.ConsignmentItems.Count items
					<span>
					@foreach (var ci in item.ConsignmentItems) {
						<span>
							@ci.InstrumentDetails <br />
							@ci.Instructions
						</span><br />
						
					}	
					</span>
				</span>
			</td>
			<td>
				@Html.ActionLink("Order", "ConvertToOrder", new { id = @item.Id })
			</td>
			<td>
				@Html.ActionLink("Print Note", "GenerateConsignmentNote", new { Id = @item.Id }, new { target="_blank"})
			</td>
		</tr>
	 }
	</table>
}
else
{
	<div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoConsignments</div>
}


<div id="edit-consignment-container">
</div>

<input type="hidden" id="editUrl" value="@Url.Action("Edit", "Consignment")"/>
