@model IList<JobSystem.Mvc.ViewModels.Consignments.ConsignmentIndexViewModel>

@{
    ViewBag.Title = "Consignments";
}

<h2>Consignments</h2>
<div id="toggle-container">
	<span class="toggle toggle-left"><a href="@Url.Action("PendingConsignments")">Pending</a></span>
	<span class="toggle toggle-active toggle-right"><a href="@Url.Action("ActiveConsignments")">Consigned</a></span>
</div>

@if (Model.Any()) {
	<table>
		<tr>
			<th>Consignment No</th>
			<th>Supplier Name</th>
			<th>Created</th>
			<th></th>
		</tr>
	@foreach (var item in Model.OrderBy(i => i.SupplierName))
	 {
		<tr>
			<td>
				@item.ConsignmentNo
			</td>
			<td>
				@item.SupplierName
			</td>
			<td>
				@item.DateCreated
			</td>
			<td>
				<span class="the-tooltip top center dark-midnight-blue consignmentItemCount">
					@item.ConsignmentItems.Count items
					@foreach (var ci in item.ConsignmentItems) {
						<span>
							@ci.InstrumentDetails <br />
							@ci.Instructions
						</span>
					}	
				</span>
				
			</td>
		</tr>
	 }
	</table>
}
else
{
	<div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoConsignments</div>
}


<div id="edit-consignment-container">
</div>

<input type="hidden" id="editUrl" value="@Url.Action("Edit", "Consignment")"/>
