@model JobSystem.Mvc.ViewModels.Consignments.ConsignmentPendingListViewModel

@{
    ViewBag.Title = "Consignments";
}

<h2>Consignments</h2>
<div id="toggle-container">
	<span class="toggle toggle-active toggle-left"><a href="@Url.Action("PendingConsignments")">Pending</a></span>
	<span class="toggle toggle-right"><a href="@Url.Action("ActiveConsignments")">Consigned</a></span>
</div>

@using (Html.BeginForm("ConsignPending", "Consignment", FormMethod.Post))
{
<input class="primary-action" type="submit" value="Consign"/>
if (Model.ConsignmentItems.Any()) {
	<table>
		<tr>
			<th class="narrowHeader"></th>
			<th>Supplier Name</th>
			<th>Instructions</th>
			<th></th>
		</tr>
	@foreach (var item in Model.ConsignmentItems.OrderBy(i => i.SupplierName))
	 {
		<tr>
			<td>
				<input type="checkbox" name="ToBeConvertedIds" value="@item.Id"/>
			</td>
			<td>
				@item.SupplierName
			</td>
			<td>
				@item.Instructions
			</td>
			<td>
				<a href="#" class="editConsignmentButton" id="@item.Id">Edit</a>
			</td>
		</tr>
	 }
	</table>
}else{
	<div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoConsignments</div>
}
}

<div id="edit-consignment-container">
</div>

<input type="hidden" id="editUrl" value="@Url.Action("Edit", "Consignment")"/>
