@model JobSystem.Mvc.ViewModels.Admin.CompanyDetailsViewModel
@{
	ViewBag.Title = "EditCompanyDetails";
}
<h2>
	EditCompanyDetails</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>CompanyDetailsViewModel</legend>
		@Html.HiddenFor(model => model.Id)
		<div class="editor-label">
			@Html.LabelFor(model => model.Name)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Address1)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Address1)
			@Html.ValidationMessageFor(model => model.Address1)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Address2)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Address2)
			@Html.ValidationMessageFor(model => model.Address2)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Address3)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Address3)
			@Html.ValidationMessageFor(model => model.Address3)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Address4)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Address4)
			@Html.ValidationMessageFor(model => model.Address4)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Address5)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Address5)
			@Html.ValidationMessageFor(model => model.Address5)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Telephone)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Telephone)
			@Html.ValidationMessageFor(model => model.Telephone)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Fax)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Fax)
			@Html.ValidationMessageFor(model => model.Fax)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.RegNo)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.RegNo)
			@Html.ValidationMessageFor(model => model.RegNo)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.VatRegNo)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.VatRegNo)
			@Html.ValidationMessageFor(model => model.VatRegNo)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Email)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Email)
			@Html.ValidationMessageFor(model => model.Email)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Www)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Www)
			@Html.ValidationMessageFor(model => model.Www)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.TermsAndConditions)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.TermsAndConditions)
			@Html.ValidationMessageFor(model => model.TermsAndConditions)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.CurrencyId)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.CurrencyId)
			@Html.ValidationMessageFor(model => model.CurrencyId)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.TaxCodeId)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.TaxCodeId)
			@Html.ValidationMessageFor(model => model.TaxCodeId)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.PaymentTermId)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.PaymentTermId)
			@Html.ValidationMessageFor(model => model.PaymentTermId)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.BankDetailsId)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.BankDetailsId)
			@Html.ValidationMessageFor(model => model.BankDetailsId)
		</div>
		<p>
			<input type="submit" value="Save" />
		</p>
	</fieldset>
}
<div>
	@Html.ActionLink("Back to List", "Index")
</div>
