@model JobSystem.Mvc.ViewModels.TestStandards.TestStandardListViewModel
@{
    ViewBag.Title = "Test Standards";
}

<h2>Test Standards</h2>
<a href="#" id="createStandardButton" class="primary-action">Create Test Standard</a>
@if (Model.Standards.Any()) {
	<table>
		<tr>
			<th>Certificate Number</th>
			<th>Serial Number</th>
			<th>Description</th>
			<th></th>
		</tr>
	@foreach (var item in Model.Standards)
	 {
			<tr>
				<td>
					@item.CertificateNo
				</td>
				<td>
					@item.SerialNo
				</td>
				<td>
					@item.Description
				</td>
				<td>
					<a href="#" class="editStandardButton" id="@item.Id">Edit</a>
				</td>
			</tr>
	 }
	</table>
}else{
	<div id="empty-list">@JobSystem.Resources.TestStandards.Messages.NoStandards</div>
}

@Html.Partial("_Create", Model.CreateViewModel)

<div id="edit-standard-container">
</div>

<input type="hidden" id="editUrl" value="@Url.Action("Edit", "TestStandard")"/>
