@model JobSystem.Mvc.ViewModels.WorkItems.WorkItemCreateViewModel

<script src="@Url.Content("~/Scripts/workitem.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="create-workitem-container">
@using (Ajax.BeginForm("Create", "WorkItem", new AjaxOptions() { UpdateTargetId = "st_horizontal", OnSuccess = "app.closeModal('work-item')" }))
{
    @Html.ValidationSummary(true)
    <fieldset class="fieldset-no-legend">
        <div class="editor-label">
            @Html.LabelFor(model => model.WorkType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.WorkTypeId, Model.WorkType, new { @class = "shortDropdown" })
            @Html.ValidationMessageFor(model => model.WorkType)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.StatusId, Model.Status, new { @class = "shortDropdown" })
            @Html.ValidationMessageFor(model => model.Status)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.WorkTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WorkTime)
            @Html.ValidationMessageFor(model => model.WorkTime)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Report)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Report)
            @Html.ValidationMessageFor(model => model.Report)
        </div>
        @Html.HiddenFor(model => model.JobItemId)
    </fieldset>
    <div class="buttons-row">
        <input type="submit" class="primary-action" value="Create"/>
    </div>
}
</div>