@model JobSystem.Mvc.ViewModels.Customers.CustomerViewModel
@{
	ViewBag.Title = "Create Customer";
}
<h2>Create Customer</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)
	<span class="form-section">
		Name & Address
	</span>
	<fieldset>
		@*<legend>Name & Address</legend>*@
		<div class="editor-label">
			@Html.LabelFor(model => model.Name)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Address1)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Address1)
			@Html.ValidationMessageFor(model => model.Address1)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Address2)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Address2)
			@Html.ValidationMessageFor(model => model.Address2)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Address3)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Address3)
			@Html.ValidationMessageFor(model => model.Address3)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Address4)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Address4)
			@Html.ValidationMessageFor(model => model.Address4)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Address5)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Address5)
			@Html.ValidationMessageFor(model => model.Address5)
		</div>
        <div class="editor-label">
			@Html.LabelFor(model => model.Telephone)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Telephone)
			@Html.ValidationMessageFor(model => model.Telephone)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Fax)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Fax)
			@Html.ValidationMessageFor(model => model.Fax)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Email)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Email)
			@Html.ValidationMessageFor(model => model.Email)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Contact1)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Contact1)
			@Html.ValidationMessageFor(model => model.Contact1)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Contact2)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Contact2)
			@Html.ValidationMessageFor(model => model.Contact2)
		</div>
	</fieldset>
	<span class="form-section">
		Invoice Details
	</span>
    <fieldset>
        <div class="editor-label">
			@Html.LabelFor(model => model.InvoiceTitle)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.InvoiceTitle)
			@Html.ValidationMessageFor(model => model.InvoiceTitle)
		</div>
		<div class="editor-label">
			@Html.Label("Invoice Address")
		</div>
		<input type="checkbox" id="invoiceCheckbox" checked="checked">
		<label for="invoiceCheckbox">Same as main address</label>
		<div id="invoiceDetails">
			<div class="editor-label">
				@Html.LabelFor(model => model.InvoiceAddress1)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.InvoiceAddress1)
				@Html.ValidationMessageFor(model => model.InvoiceAddress1)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.InvoiceAddress2)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.InvoiceAddress2)
				@Html.ValidationMessageFor(model => model.InvoiceAddress2)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.InvoiceAddress3)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.InvoiceAddress3)
				@Html.ValidationMessageFor(model => model.InvoiceAddress3)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.InvoiceAddress4)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.InvoiceAddress4)
				@Html.ValidationMessageFor(model => model.InvoiceAddress4)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.InvoiceAddress5)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.InvoiceAddress5)
				@Html.ValidationMessageFor(model => model.InvoiceAddress5)
			</div>
		</div>
    </fieldset>
	<span class="form-section">
		Delivery Details
	</span>
	<fieldset>
        <div class="editor-label">
			@Html.LabelFor(model => model.DeliveryTitle)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.DeliveryTitle)
			@Html.ValidationMessageFor(model => model.DeliveryTitle)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.DeliveryContact1)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.DeliveryContact1)
			@Html.ValidationMessageFor(model => model.DeliveryContact1)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.DeliveryContact2)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.DeliveryContact2)
			@Html.ValidationMessageFor(model => model.DeliveryContact2)
		</div>
		<div class="editor-label">
			@Html.Label("Delivery Address")
		</div>
		<input type="checkbox" id="deliveryCheckbox" checked="checked">
		<label for="deliveryCheckbox">Same as main address</label>
		<div id="deliveryDetails">
			<div class="editor-label">
				@Html.LabelFor(model => model.DeliveryAddress1)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.DeliveryAddress1)
				@Html.ValidationMessageFor(model => model.DeliveryAddress1)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.DeliveryAddress2)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.DeliveryAddress2)
				@Html.ValidationMessageFor(model => model.DeliveryAddress2)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.DeliveryAddress3)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.DeliveryAddress3)
				@Html.ValidationMessageFor(model => model.DeliveryAddress3)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.DeliveryAddress4)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.DeliveryAddress4)
				@Html.ValidationMessageFor(model => model.DeliveryAddress4)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.DeliveryAddress5)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.DeliveryAddress5)
				@Html.ValidationMessageFor(model => model.DeliveryAddress5)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.DeliveryTelephone)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.DeliveryTelephone)
				@Html.ValidationMessageFor(model => model.DeliveryTelephone)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.DeliveryFax)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.DeliveryFax)
				@Html.ValidationMessageFor(model => model.DeliveryFax)
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.DeliveryEmail)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.DeliveryEmail)
				@Html.ValidationMessageFor(model => model.DeliveryEmail)
			</div>
		</div>
    </fieldset>
	<span class="form-section">
		Sales Contact Details
	</span>	
    <fieldset>
        <div class="editor-label">
			@Html.LabelFor(model => model.SalesTelephone)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.SalesTelephone)
			@Html.ValidationMessageFor(model => model.SalesTelephone)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.SalesFax)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.SalesFax)
			@Html.ValidationMessageFor(model => model.SalesFax)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.SalesEmail)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.SalesEmail)
			@Html.ValidationMessageFor(model => model.SalesEmail)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.SalesContact1)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.SalesContact1)
			@Html.ValidationMessageFor(model => model.SalesContact1)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.SalesContact2)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.SalesContact2)
			@Html.ValidationMessageFor(model => model.SalesContact2)
		</div>
    </fieldset>
	<input type="submit" value="Create" class="primary-action"/>
	@Html.ActionLink("Cancel", "Index")
}