@model JobSystem.Mvc.ViewModels.Customers.CustomerViewModel
@{
	ViewBag.Title = "Details";
}
<span class="form-section">
	Name & Address
</span>
<fieldset>
	<div class="display-label">@Html.LabelFor(model => model.Name)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Name)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.Address1)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Address1)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.Address2)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Address2)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.Address3)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Address3)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.Address4)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Address4)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.Address5)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Address5)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.Telephone)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Telephone)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.Fax)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Fax)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.Email)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Email)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.Contact1)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Contact1)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.Contact2)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Contact2)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.AssetLine)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.AssetLine)
	</div>
</fieldset>
<span class="form-section">
	Invoice Details
</span>
<fieldset>
	<div class="display-label">@Html.LabelFor(model => model.InvoiceTitle)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.InvoiceTitle)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.InvoiceAddress1)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.InvoiceAddress1)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.InvoiceAddress2)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.InvoiceAddress2)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.InvoiceAddress3)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.InvoiceAddress3)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.InvoiceAddress4)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.InvoiceAddress4)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.InvoiceAddress5)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.InvoiceAddress5)
	</div>

</fieldset>
<span class="form-section">
	Delivery Details
</span>
<fieldset>
	<div class="display-label">@Html.LabelFor(model => model.DeliveryTitle)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.DeliveryTitle)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.DeliveryContact1)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.DeliveryContact1)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.DeliveryContact2)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.DeliveryContact2)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.DeliveryAddress1)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.DeliveryAddress1)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.DeliveryAddress2)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.DeliveryAddress2)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.DeliveryAddress3)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.DeliveryAddress3)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.DeliveryAddress4)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.DeliveryAddress4)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.DeliveryAddress5)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.DeliveryAddress5)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.DeliveryTelephone)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.DeliveryTelephone)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.DeliveryFax)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.DeliveryFax)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.DeliveryEmail)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.DeliveryEmail)
	</div>
</fieldset>
<span class="form-section">
	Sales Contact Details
</span>
<fieldset>
	<div class="display-label">@Html.LabelFor(model => model.SalesTelephone)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.SalesTelephone)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.SalesFax)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.SalesFax)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.SalesEmail)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.SalesEmail)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.SalesContact1)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.SalesContact1)
	</div>
	<div class="display-label">@Html.LabelFor(model => model.SalesContact2)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.SalesContact2)
	</div>
</fieldset>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>