@model JobSystem.Mvc.ViewModels.Customers.CustomerListViewModel
@{
    ViewBag.Title = "Customer List";
}
<h2>Customer List</h2>
@Html.ActionLink("Create Customer", "Create", new { }, new { @class = "primary-action" })

@if (Model.Customers.Any())
{
    var grid = new WebGrid(null, defaultSort:"Name", canSort: false, rowsPerPage: Model.PageSize);
    grid.Bind(Model.Customers, autoSortAndPage: false, rowCount: Model.Total);
    @grid.GetHtml(columns: grid.Columns(
        grid.Column("Name", "Name", format: @<text>@Html.ActionLink((string)item.Name, "Details", new { id = item.Id })</text>),
        grid.Column("AssetLine", "Asset Line"),
        grid.Column("Email", "Email", format: @<a href="mailto:@item.Email">@item.Email</a>),
        grid.Column("Contact1", "Primary Contact"),
        grid.Column("Edit", "", format: @<text>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</text>)
    ))
}
else
{
    <div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoCustomers</div>
}