@model IEnumerable<JobSystem.Mvc.ViewModels.Customers.CustomerIndexViewModel>
@{
	ViewBag.Title = "Customer List";
}
<h2>Customer List</h2>
@Html.ActionLink("Create Customer", "Create", new { }, new { @class = "primary-action" })

@if (Model.Any()) {

	var grid = new WebGrid(Model, defaultSort:"Name", canSort: false, rowsPerPage: 15);
	
	@grid.GetHtml(columns: grid.Columns(
		grid.Column("Name", "Name", format: @<text>@Html.ActionLink((string)item.Name, "Details", new { id = item.Id })</text>),
		grid.Column("Email", "Email", format: @<a href="mailto:@item.Email">@item.Email</a>),
		grid.Column("Contact1", "Primary Contact"),
		grid.Column("Edit", "", format: @<text>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</text>)
	))
}
else
{
	<div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoCustomers</div>
}