@model IList<JobSystem.Mvc.ViewModels.Quotes.QuoteIndexViewModel>

@{
    ViewBag.Title = "Approved Quotes";
}

<div id="toggle-container">
	<span class="toggle toggle-left"><a href="@Url.Action("PendingQuotes")">Pending</a></span>
	<span class="toggle toggle-active toggle-right"><a href="@Url.Action("ApprovedQuotes")">Quoted</a></span>
</div>

@if (Model.Any()) {
	<table class="approvedQuoteTable" id="approvedQuoteTableHead">
		<tr>
			<th>Quote No.</th>
			<th>Order No.</th>
			<th>Advice No.</th>
			<th>Currency</th>
			<th>Customer</th>
			<th>Created By</th>
			<th>Date Created</th>
			<th></th>
			<th></th>
		</tr>
	</table>
	
	foreach (var item in Model.OrderBy(i => i.QuoteNo))
	 {
	<table class="approvedQuoteTable">
		<tr>
			<td>
				@item.QuoteNo
			</td>
			<td>
				@item.OrderNo
			</td>
			<td>
				@item.AdviceNo
			</td>
			<td>
				@item.CurrencyName
			</td>
			<td>
				@item.CustomerName
			</td>
			<td>
				@item.CreatedBy
			</td>
			<td>
				@item.DateCreated
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { Id = @item.Id })
			</td>
			<td>
				@Html.ActionLink("Print", "GenerateQuoteReport",  new { Id = @item.Id }, new { target="_blank"})
			</td>
		</tr>
	 </table>
	 <table class="approvedQuoteItemTable">
		<tr>
			<th>Job Item</th>
			<th>Repair</th>
			<th>Calibration</th>
			<th>Parts</th>
			<th>Carriage</th>
			<th>Investigation</th>
			<th class="shortColumn">Days</th>
			<th>BER</th>
			<th class="shortColumn"></th>
		</tr>	
		 @foreach (var qi in item.QuoteItems)
		 {
		
		<tr>
			<td>
				@qi.JobItemNo
			</td>
			<td>
				@qi.Repair
			</td>
			<td>
				@qi.Calibration
			</td>
			<td>
				@qi.Parts
			</td>
			<td>
				@qi.Carriage
			</td>
			<td>
				@qi.Investigation
			</td>
			<td class="shortColumn">
				@qi.Days
			</td>
			<td>
				@qi.ItemBER
			</td>
			<td class="shortColumn">
				@Html.ActionLink("Edit", "EditItem", new { id = qi.JobItemId, fromJi = false, isQuoted = true })
			</td>
		</tr>
		
	 }
	 </table>
	 <div class="clear"></div>
}
	
}else{
	<div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoQuotes</div>
}


<div id="edit-quote-container">
</div>

<input type="hidden" id="editUrl" value="@Url.Action("Edit", "Quote")"/>
