@model IList<JobSystem.Mvc.ViewModels.Quotes.QuoteItemIndexViewModel>

@{
    ViewBag.Title = "ApprovedQuotes";
}

@*<h2>Approved Quotes</h2>*@

<div id="toggle-container">
	<span class="toggle toggle-left"><a href="@Url.Action("PendingQuotes")">Pending</a></span>
	<span class="toggle toggle-active toggle-right"><a href="@Url.Action("ApprovedQuotes")">Approved</a></span>
</div>

@if (Model.Any()) {
	<table>
		<tr>
			<th></th>
			<th>Repair</th>
			<th>Calibration</th>
			<th>Parts</th>
			<th>Carriage</th>
			<th>Investigation</th>
			<th>Days</th>
			<th>Item BER</th>
		</tr>
	@foreach (var item in Model.OrderBy(i => i.Repair))
	 {
		<tr>
			<td>
				@Html.CheckBox("toBeConverted", false)
			</td>
			<td>
				@item.Repair
			</td>
			<td>
				@item.Calibration
			</td>
			<td>
				@item.Parts
			</td>
			<td>
				@item.Carriage
			</td>
			<td>
				@item.Investigation
			</td>
			<td>
				@item.Days
			</td>
			<td>
				@item.ItemBER
			</td>
			<td>
				<a href="#" class="editQuoteButton" id="@item.Id">Edit</a>
			</td>
		</tr>
	 }
	</table>
}else{
	<div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoQuotes</div>
}


<div id="edit-quote-container">
</div>

<input type="hidden" id="editUrl" value="@Url.Action("Edit", "Quote")"/>
