@model JobSystem.Mvc.ViewModels.Quotes.QuotePendingListViewModel

@{
    ViewBag.Title = "Pending Quotes";
}

<div id="toggle-container">
	<span class="toggle toggle-active toggle-left"><a href="@Url.Action("PendingQuotes")">Pending</a></span>
	<span class="toggle toggle-right"><a href="@Url.Action("ApprovedQuotes")">Quoted</a></span>
</div>

@using (Html.BeginForm("QuotePending", "Quote", FormMethod.Post))
{

if (Model.QuoteItems.Any()) {

<input class="primary-action" type="submit" value="Quote"/>
	<br /><br />
	foreach (var grp in Model.QuoteItems.GroupBy(g => g.JobNo)) { 
		<h3>@Html.Encode(grp.Key)</h3>
		<table id="quoteTable">
		<tr>
			<th class="shortColumn"></th>
			<th class="shortColumn">Job Item</th>
			<th class="shortColumn">Order No.</th>
			<th class="shortColumn">Advice No.</th>
			<th class="shortColumn">Repair</th>
			<th class="shortColumn">Calibration</th>
			<th class="shortColumn">Parts</th>
			<th class="shortColumn">Carriage</th>
			<th class="shortColumn">Investigation</th>
			<th class="shortColumn">Days</th>
			<th class="shortColumn">Item BER</th>
			<th></th>
		</tr>
	@foreach (var item in grp.OrderBy(i => i.OrderNo))
	{
		
		<tr>
			<td class="shortColumn">
				<input type="checkbox" name="ToBeConvertedIds" value="@item.Id"/>
			</td>
			<td class="shortColumn">
				@item.JobItemNo
			</td>
			<td class="shortColumn">
				@item.OrderNo
			</td>
			<td class="shortColumn">
				@item.AdviceNo
			</td>
			<td class="shortColumn">
				@item.Repair.ToString("N2")
			</td>
			<td class="shortColumn">
				@item.Calibration.ToString("N2")
			</td>
			<td class="shortColumn">
				@item.Parts.ToString("N2")
			</td>
			<td class="shortColumn">
				@item.Carriage.ToString("N2")
			</td>
			<td class="shortColumn">
				@item.Investigation.ToString("N2")
			</td>
			<td class="shortColumn">
				@item.Days
			</td>
			<td class="shortColumn">
				@item.ItemBER
			</td>
			<td>
				@Html.ActionLink("Edit", "EditItem", new { id = item.JobItemId, fromJi = false, isQuoted = false })
			</td>
		</tr>
}
</table>
 }
	
}
else
{
	<div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoQuotes</div>
}
}


<div id="edit-quote-container">
</div>

<input type="hidden" id="editUrl" value="@Url.Action("Edit", "Quote")"/>
