@model IList<JobSystem.Mvc.ViewModels.Quotes.QuoteItemIndexViewModel>

@{
    ViewBag.Title = "Pending Quotes";
}

@*<h2>Pending Quotes</h2>*@

<div id="toggle-container">
	<span class="toggle toggle-active toggle-left"><a href="@Url.Action("PendingQuotes")">Pending</a></span>
	<span class="toggle toggle-right"><a href="@Url.Action("ApprovedQuotes")">Approved</a></span>
</div>

@using (Html.BeginForm("QuotePending", "Quote", FormMethod.Post))
{
<input class="primary-action" type="submit" value="Quote"/>
if (Model.Any()) {
	<table>
		<tr>
			<th></th>
			<th>Order No.</th>
			<th>Advice No.</th>
			<th>Repair</th>
			<th>Calibration</th>
			<th>Parts</th>
			<th>Carriage</th>
			<th>Investigation</th>
			<th>Days</th>
			<th>Item BER</th>
			<th></th>
		</tr>
	@foreach (var item in Model.OrderBy(i => i.Repair))
	 {
		<tr>
			<td>
				@Html.CheckBox("toBeConverted", false)
			</td>
			<td>
				@item.OrderNo
			</td>
			<td>
				@item.AdviceNo
			</td>
			<td>
				@item.Repair
			</td>
			<td>
				@item.Calibration
			</td>
			<td>
				@item.Parts
			</td>
			<td>
				@item.Carriage
			</td>
			<td>
				@item.Investigation
			</td>
			<td>
				@item.Days
			</td>
			<td>
				@item.ItemBER
			</td>
			<td>
				@Html.ActionLink("Edit", "EditPending", new { id = item.JobItemId })
			</td>
		</tr>
	 }
	</table>
}else{
	<div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoQuotes</div>
}
}

<div id="edit-quote-container">
</div>

<input type="hidden" id="editUrl" value="@Url.Action("Edit", "Quote")"/>
