@model JobSystem.Mvc.ViewModels.JobItems.JobItemViewModel

<script type="text/javascript">
	// Horizontal Sliding Tabs demo
	$(document).ready(function () {
		$('div#st_horizontal').slideTabs({
			// Options  			
			contentAnim: 'slideH',
			contentAnimTime: 200,
			contentEasing: 'easeInOutExpo',
			tabsAnimTime: 100,
			tabsScroll: false,
			autoHeight: true,
			totalWidth: '774'
		});
	});
</script>

<h3>@Model.AssetNo</h3>
<br />
@Model.InstrumentDetails
<br />

<div class="job-details-fields">
	<span class="details-header">Calibration Period</span>
	@Model.CalPeriod
</div>
<div class="job-details-fields">
	<span class="details-header">Field</span>
	@Model.Fields
</div>

<div class="st_tabs_container">
	<div class="st_slide_container">
		<ul class="st_tabs">
			<li><a href="#st_content_1" rel="" class="st_tab st_first_tab st_tab_active">Work</a></li>
			<li><a href="#st_content_2" rel="tab_2" class="st_tab">Certificate</a></li>
			<li><a href="#st_content_3" rel="tab_3" class="st_tab">Quotes</a></li>
			<li><a href="#st_content_4" rel="tab_4" class="st_tab">Consignments</a></li>
			<li><a href="#st_content_5" rel="tab_5" class="st_tab">Orders</a></li>
			<li><a href="#st_content_6" rel="tab_6" class="st_tab">Delivery</a></li>
			<li><a href="#st_content_7" rel="tab_7" class="st_tab">Information</a></li>
		</ul>
	</div>
	<!-- /.st_slide_container -->
</div>
<!-- /.st_tabs_container -->
<div class="st_view_container">
	<div class="st_view">
		<div id="st_content_1" class="st_tab_view st_first_tab_view">
			<div class="text">
				<ul id="work-item-list">
					<li><h3>Work Item 1</h3></li>
					<li>27/12/2011 13:45 PM</li>
					<li><h3>Work Item 2</h3></li>
					<li>27/12/2011 13:45 PM</li>
					<li><h3>Work Item 3</h3></li>
					<li>27/12/2011 13:45 PM</li>
					<li><h3>Work Item 4</h3></li>
					<li>27/12/2011 13:45 PM</li>
				</ul>
				<div class="work-item-details">
				
				</div>
			</div>
		</div>
		<div id="st_content_2" class="st_tab_view">
			<h2>
				Certificate</h2>
			<div class="text">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a tellus nec tellus
					volutpat interdum vel vel nisi. Vestibulum vestibulum porta ultrices. Suspendisse
					pharetra nisi eu orci sollicitudin nec suscipit tellus lacinia. Cras porta metus
					sit amet dolor imperdiet at mollis est malesuada. Nulla ligula dolor, porta vel
					odio. Sed sodales nulla blandit mauris commodo eu varius purus rhoncus. Nam imperdiet
					elementum egestas. Proin sapien metus, viverra quis tristique a, malesuada a nibh.</p>
				<blockquote>
					Nam et iaculis est. Phasellus nec tempor arcu. Praesent risus vitae eget facilisis
					tempus fermentum eget mauris semper.</blockquote>
				<p>
					Nam et iaculis est. Phasellus nec tempor arcu. Praesent at risus vitae lacus facilisis
					tempus et sed tortor. Duis cursus sapien eget neque laoreet quis fermentum mauris
					semper. Nulla a diam quis tellus lobortis congue ut vitae massa, sed a ante eros.</p>
				<p>
					Donec lacinia aliquet porttitor. Pellentesque vel sem et dui sagittis aliquet. Ut
					et est eget augue tristique pharetra sit amet quis orci. Quisque elit sem, feugiat
					a auctor ac, congue vitae massa. Nulla convallis tortor eget ligula elementum in
					fringilla augue elementum. Ut bibendum accumsan nibh non fringilla. Fusce nec elementum
					enim. Duis condimentum cursus massa, elit bibendum turpis auctor elementum. Quisque
					ante felis, tincidunt vel iaculis non, volutpat non neque.</p>
			</div>
		</div>
		<div id="st_content_3" class="st_tab_view">
			<h2>
				Quotes</h2>
			<div class="text">
				<p>
					Lorem ipsum dolor sit amet, duis netus ut posuere feugiat arcu, purus wisi quis
					fringilla at, nunc ut eget elit duis erat praesent, ut fermentum lacus turpis cras.
					Justo gravida erat quam mauris purus, aliquam quisque, eget nisl. Pellentesque nibh
					duis odio morbi quam, scelerisque convallis aenean quam tincidunt ornare nam nec
					feugiat sodales tristique.</p>
				<blockquote>
					<p>
						Aliquam commodo ullamcorper aenean erat. Nullam vel justo in neque porttitor eget
						laoreet. Aenean lacus adipiscing.</p>
				</blockquote>
				<p>
					Aliquam commodo ullamcorper erat. Nullam vel justo cras porttitor laoreet. Aenean
					lacus dui, consequat eu, adipiscing nonummy, eget non, nisi. Morbi nunc est, dignissim
					non, ornare sed, luctus eu, massa. Vivamus tincidunt diam nec eget urna.</p>
				<p>
					Curabitur velit. Veniam donec orci viverra, lorem convallis in libero quisque, purus
					erat dolor curabitur, justo arcu nisl, natoque velit euismod dapibus nulla semper.
					Suspendisse odio tempor. Id ornare nam nec feugiat, ac consectetuer magna, dolor
					enim vel in, pulvinar bibendum ante ac, dui nibh dui est neque lacinia et. Duis
					netus ut posuere feugiat arcu, purus wisi quis fringilla at, nunc ut eget elit duis
					erat, eu praesent, ut fermentum lacus turpis cras. Justo gravida erat quam mauris
					purus, aliquam quisque, eget nisl. Pellentesque nibh ut odio morbi quam, scelerisque
					convallis tincidunt tristique.</p>
			</div>
		</div>
		<div id="st_content_7" class="st_tab_view">
			<div class="text">
				<div class="job-details-fields">
					<span class="details-header">Accessories</span>
					@Model.Accessories
				</div>
				<div class="job-details-fields">
					<span class="details-header">Instructions</span>
					@Model.Instructions
				</div>
				<div class="job-details-fields">
					<span class="details-header">Comments</span>
					@Model.Comments
				</div>
				<div class="job-details-fields">
					<span class="details-header">Return Reason</span>
					@Model.ReturnReason
				</div>
			</div>
		</div>
	</div>
	<!-- /.st_view -->
</div>
<!-- /.st_view_container -->
