@model JobSystem.Mvc.ViewModels.JobItems.JobItemDetailsViewModel

<script src="@Url.Content("~/Scripts/jobitem.js")" type="text/javascript"></script>

<script type="text/javascript">
	// Horizontal Sliding Tabs demo
	$(document).ready(function () {
		$('div#st_horizontal').slideTabs({
			// Options  			
			contentAnim: 'slideH',
			contentAnimTime: 200,
			contentEasing: 'easeInOutExpo',
			tabsAnimTime: 100,
			tabsScroll: false,
			autoHeight: true,
			totalWidth: '774'
		});
	});
</script>

<input type="hidden" id="createWorkItemUrl" value="@Url.Action("Create", "WorkItem")"/>
<input type="hidden" id="createConsignmentUrl" value="@Url.Action("Create", "Consignment")"/>

<div id="item-details-container">
	<div class="item-details-fields">
		<h3 id="job-item-number">@Model.InitialStatus</h3>
		<span class="field-label">Instrument</span>
		<span class="field">@Model.InstrumentDetails</span>
		@if (!@Model.SerialNo.IsEmpty()) {
			<span class="field-label">Serial Number</span>
			<span class="field">@Model.SerialNo</span>
		}
		@if (!@Model.AssetNo.IsEmpty()) {
			<span class="field-label">Asset Number</span>
			<span class="field">@Model.AssetNo</span>
		}
		<span class="field-label">Calibration Period</span>
		<span class="field">@Model.CalPeriod</span>
		<span class="field-label">Field</span>
		<span class="field">@Model.Field</span>
	</div>
</div>


<div class="st_tabs_container">
	<div class="st_slide_container">
		<ul class="st_tabs">
			<li><a href="#st_content_1" rel="" class="st_tab st_first_tab st_tab_active">Work</a></li>
			<li><a href="#st_content_2" rel="tab_2" class="st_tab">Certificate</a></li>
			<li><a href="#st_content_3" rel="tab_3" class="st_tab">Quotes</a></li>
			<li><a href="#st_content_4" rel="tab_4" class="st_tab">Consignments</a></li>
			<li><a href="#st_content_5" rel="tab_5" class="st_tab">Orders</a></li>
			<li><a href="#st_content_6" rel="tab_6" class="st_tab">Delivery</a></li>
			<li><a href="#st_content_7" rel="tab_7" class="st_tab">Information</a></li>
		</ul>
	</div>
	<!-- /.st_slide_container -->
</div>
<!-- /.st_tabs_container -->
<div class="st_view_container">
	<div class="st_view">
		<div id="st_content_1" class="st_tab_view st_first_tab_view st_tab_view_work">
			<a href="#" class="primary-action createWorkButton" id="@Model.Id">Create Work Item</a>
			<div class="text">
			@if (Model.WorkItems.Any()){
				<ul id="work-item-list">
					@for (int i = 0; i < Model.WorkItems.Count; i++)
					{
						var curItem = Model.WorkItems[i];

						<li class="work-item-list-item" id="@i">
							<h3>Work Item @i</h3>
							<span>@curItem.Status</span><br />
							<span class="smallText">@curItem.DateCreated</span>
							<div class="work-item-details" id="work-item-@i">
								<ul>
									<li><span>Work by:</span> @curItem.WorkBy</li>
									<li><span>Status:</span> @curItem.Status</li>
									<li><span>Type:</span> @curItem.WorkType</li>
									<li><span>Location:</span> @curItem.WorkLocation</li>
									<li><span>Work Time:</span> @curItem.WorkTime</li>
									<li><span>Overtime:</span> @curItem.OverTime</li>
									<li><span>Report:</span> @curItem.Report</li>
								</ul>
							</div>
						</li>	
					}
				</ul>
			} else {
				<div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoWorkItems</div>
			}
			</div>
		</div>
		<div id="st_content_2" class="st_tab_view">
			<div class="text">
				<div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoCertificates</div>
			</div>
		</div>
		<div id="st_content_3" class="st_tab_view">
			<div class="text">
				<div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoQuotes</div>
			</div>
		</div>
		<div id="st_content_4" class="st_tab_view">
			<div class="text">
				<a href="#" class="primary-action createConsignmentButton" id="@Model.Id">Raise Consigment</a>
				<div id="empty-list">@JobSystem.Resources.JobItems.Messages.NoConsignments</div>
			</div>
		</div>
		<div id="st_content_7" class="st_tab_view">
			<div class="text">
				<div class="job-details-fields">
					<span class="details-header">Accessories</span>
					@Model.Accessories
				</div>
				<div class="job-details-fields">
					<span class="details-header">Instructions</span>
					@Model.Instructions
				</div>
				<div class="job-details-fields">
					<span class="details-header">Comments</span>
					@Model.Comments
				</div>
				<div class="job-details-fields">
					<span class="details-header">Return Reason</span>
					@Model.ReturnReason
				</div>
			</div>
		</div>
	</div>
	<!-- /.st_view -->
</div>
<!-- /.st_view_container -->
