@model JobSystem.Mvc.ViewModels.JobItems.JobItemDetailsViewModel

<div class="text">
	<a href="#" id="editJobItemInformationButton" class="primary-action">Edit</a>
	<div class="details-fields">
		<span class="field-label">Accessories</span>
		<span class="field">@Model.Accessories</span>
		<span class="field-label">Comments</span>
		<span class="field">@Model.Comments</span>
		<span class="field-label">Instructions</span>
		<span class="field">@Model.Instructions</span>
		<span class="field-label">Returned</span>
		<span class="field">@Model.IsReturned , @Model.ReturnReason</span>
	</div>
</div>