@model List<JobSystem.Mvc.ViewModels.Deliveries.DeliveryIndexViewModel>
@{
	ViewBag.Title = "Approved Deliveries";
}

<div id="toggle-container">
	<span class="toggle toggle-left"><a href="@Url.Action("PendingDeliveries")">Pending</a></span>
	<span class="toggle toggle-active toggle-right"><a href="@Url.Action("ApprovedDeliveries")">Approved</a></span>
</div>

@if (Model.Any())
{
	var grid = new WebGrid(Model, defaultSort:"DeliveryNo", canSort: false, rowsPerPage: 15);
	
	@grid.GetHtml(columns: grid.Columns(
		grid.Column("DeliveryNo", "Delivery No."),
		grid.Column("CustomerName", "Customer"),
		grid.Column("Fao", "FAO"),
		grid.Column("CreatedBy", "Created By"),
		grid.Column("DateCreated", "Date Created"),
		grid.Column("", "", format: @<span class="the-tooltip center top dark-midnight-blue itemCount">
				@item.DeliveryItems.Count items
				<span>
					@foreach (var ci in item.DeliveryItems)
					{
						<span>@ci.Notes</span>
					}
				</span>
			</span>),
		grid.Column("", "", format: @<text>@Html.ActionLink("Print Note", "GenerateDeliveryNote", "Delivery", new { id = item.Id }, new { target = "_blank" })</text>)
	))
}
else
{
	<div id="empty-list">@JobSystem.Resources.Delivery.Messages.NoDeliveries</div>
}