@model List<JobSystem.Mvc.ViewModels.Deliveries.DeliveryItemIndexViewModel>
@{
	ViewBag.Title = "Pending Deliveries";
}

<div id="toggle-container">
	<span class="toggle toggle-active toggle-left"><a href="@Url.Action("PendingDeliveries")">Pending</a></span>
	<span class="toggle toggle-right"><a href="@Url.Action("ApprovedDeliveries")">Approved</a></span>
</div>

@using (Html.BeginForm("ConvertPending", "Delivery", FormMethod.Post))
{

if (Model.Any()) {

<input class="primary-action" type="submit" value="Deliver"/>
	<table>
		<tr>
			<th></th>
			<th>Notes</th>
		</tr>
	@foreach (var item in Model)
	 {
		<tr>
			<td class="shortColumn">
				<input type="checkbox" name="ToBeConvertedIds" value="@item.Id"/>
			</td>
			<td>
				@item.Notes
			</td>
		</tr>
	 }
	</table>
}else{
	<div id="empty-list">@JobSystem.Resources.Delivery.Messages.NoPendingDeliveries</div>
}
}
