@model List<JobSystem.Mvc.ViewModels.Deliveries.DeliveryItemIndexViewModel>
@{
	ViewBag.Title = "Pending Deliveries";
}

<div id="toggle-container">
	<span class="toggle toggle-active toggle-left"><a href="@Url.Action("PendingDeliveries")">Pending</a></span>
	<span class="toggle toggle-right"><a href="@Url.Action("ApprovedDeliveries")">Approved</a></span>
</div>

@using (Html.BeginForm("ConvertPending", "Delivery", FormMethod.Post))
{
	if (Model.Any())
	{
		<input class="primary-action" type="submit" value="Deliver"/>

		var grid = new WebGrid(Model, defaultSort:"JobRef", canSort: false, rowsPerPage: 15);
	
		@grid.GetHtml(columns: grid.Columns(
			grid.Column("ToBeConverted", "", format: @<input type="checkbox" name="ToBeConvertedIds" value="@item.Id"/>),
			grid.Column("JobRef", "Job Item"),
			grid.Column("Customer", "Customer"),
			grid.Column("Notes", "Notes")
		))
	}
	else
	{
		<div id="empty-list">@JobSystem.Resources.Delivery.Messages.NoPendingDeliveries</div>
	}
}