@model IEnumerable<JobSystem.Mvc.ViewModels.Suppliers.SupplierIndexViewModel>
@{
	ViewBag.Title = "Supplier List";
}
<h2>Supplier List</h2>
@Html.ActionLink("Create Supplier", "Create", new { }, new { @class = "primary-action" })
@if (Model.Any())
{
	var grid = new WebGrid(Model, defaultSort: "Manufacturer", canSort: false, rowsPerPage: 15);
	
	@grid.GetHtml(columns: grid.Columns(
		grid.Column("Name", "Name", format: @<text>@Html.ActionLink((string)item.Name, "Details", new { id = item.Id })</text>),
		grid.Column("TradingEmail", "Email"),
		grid.Column("TradingTelephone", "Telephone"),
		grid.Column("TradingContact1", "Primary Contact"),
		grid.Column("Edit", "", format: @<text>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</text>)
	))
}
else
{
	<div id="empty-list">@JobSystem.Resources.Suppliers.Messages.NoSuppliers</div>
}
