@model IList<JobSystem.Mvc.ViewModels.Invoices.InvoiceIndexViewModel>

@{
    ViewBag.Title = "Approved Invoices";
}

<div id="toggle-container">
	<span class="toggle toggle-left"><a href="@Url.Action("PendingInvoices")">Pending</a></span>
	<span class="toggle toggle-active toggle-right"><a href="@Url.Action("ApprovedInvoices")">Invoiced</a></span>
</div>

@if (Model.Any()) {
	var grid = new WebGrid(Model, defaultSort:"InvoiceNo", canSort: false, rowsPerPage: 15);
	
	@grid.GetHtml(columns: grid.Columns(
		grid.Column("InvoiceNo", "Invoice No"),
		grid.Column("CustomerName", "Customer"),
		grid.Column("PaymentTerm", "Payment Term"),
		grid.Column("TaxCode", "Tax Code"),
		grid.Column("DateCreated", "Date Created"),
		grid.Column("", "", format: @<span class="the-tooltip center top dark-midnight-blue itemCount">
									@item.InvoiceItems.Count items
									<span>
									@foreach (var ci in item.InvoiceItems) {
										<span>
										Repair: @ci.RepairPrice
										Calibration: @ci.CalibrationPrice
										Parts: @ci.PartsPrice
										Carriage: @ci.CarriagePrice
										Investigation: @ci.InvestigationPrice
										</span>
									}	
									</span>
								</span>),
		grid.Column("", "", format: @<text>@Html.ActionLink("Print Note", "GenerateInvoiceNote", new { Id = @item.Id }, new { target="_blank"})</text>)
	))
}
else
{
	<div id="empty-list">@JobSystem.Resources.Invoices.Messages.NoApprovedInvoices</div>
}
