@model JobSystem.Mvc.ViewModels.Jobs.JobCreateViewModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div id="create-job-container">
@using (Html.BeginForm("Create", "Job", FormMethod.Post, new { id = "createJobForm" }))
{
	@Html.ValidationSummary(true)
	<fieldset class="fieldset-no-legend fieldset-float-left">
		<div class="editor-label">
			@Html.LabelFor(model => model.JobTypes)
		</div>
		<div class="editor-field">
			@Html.DropDownListFor(model => model.TypeId, Model.JobTypes, new { @class ="long-dropdown" })
			@Html.ValidationMessageFor(model => model.JobTypes)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Customers)
		</div>
		<div class="editor-field">
			@Html.DropDownListFor(model => model.CustomerId, Model.Customers, new { @class = "long-dropdown" })
			@Html.ValidationMessageFor(model => model.Customers)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.OrderNumber)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.OrderNumber)
			@Html.ValidationMessageFor(model => model.OrderNumber)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.AdviceNumber)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.AdviceNumber)
			@Html.ValidationMessageFor(model => model.AdviceNumber)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Contact)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Contact)
			@Html.ValidationMessageFor(model => model.Contact)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Instructions)
		</div>
		<div class="editor-field">
			@Html.TextAreaFor(model => model.Instructions)
			@Html.ValidationMessageFor(model => model.Instructions)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.JobNote)
		</div>
		<div class="editor-field">
			@Html.TextAreaFor(model => model.JobNote)
			@Html.ValidationMessageFor(model => model.JobNote)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Attachments)
		</div>
		<div id="file-uploader">       
			<noscript>          
				<p>Please enable JavaScript to use file uploader.</p>
				<!-- or put a simple form for upload here -->
			</noscript>         
		</div>
		@Html.HiddenFor(model => model.Attachments)
		</fieldset>
		<div class="clear"></div>
	<div class="buttons-row">
		<input type="submit" class="primary-action" value="Create"/>
	</div>
}
</div>
