@model JobSystem.Mvc.ViewModels.Jobs.JobListViewModel
@{
    ViewBag.Title = "Job List";
}

<div id="toggle-container">
	<span class="toggle toggle-left"><a href="@Url.Action("PendingJobs")">Pending</a></span>
	<span class="toggle toggle-active toggle-right"><a href="@Url.Action("ApprovedJobs")">Approved</a></span>
</div>
<a href="#" id="createJobButton" class="primary-action">Create Job</a>
@if (Model.Jobs.Any()) {
	var grid = new WebGrid(Model.Jobs, defaultSort:"JobNumber", canSort: false, rowsPerPage: 10);
	
	@grid.GetHtml(columns: grid.Columns(
		grid.Column("JobNumber", "Job Number", format: @<text>@Html.ActionLink((string)item.JobNumber, "Details", new { id = item.Id })</text>),
		grid.Column("OrderNumber", "Order Number"),
		grid.Column("CreatedBy", "Booked By"),
		grid.Column("DateCreated", "Created")
	))
} else {
	<div id="empty-list">@JobSystem.Resources.Jobs.Messages.NoApprovedJobs</div>
}

@Html.Partial("_Create", Model.CreateViewModel)
