@model JobSystem.Mvc.ViewModels.Jobs.JobListViewModel
@{
    ViewBag.Title = "Job List";
}

<div id="toggle-container">
	<span class="toggle toggle-active toggle-left"><a href="@Url.Action("PendingJobs")">Pending</a></span>
	<span class="toggle toggle-right"><a href="@Url.Action("ApprovedJobs")">Approved</a></span>
</div>
<a href="#" id="createJobButton" class="primary-action">Create Job</a>
@if (Model.Jobs.Any()) {
	<table>
		<tr>
			<th>Job Number</th>
			<th>Order Number</th>
			<th>Booked By</th>
			<th>Created</th>
			<th></th>
		</tr>
	@foreach (var item in Model.Jobs)
	 {
			<tr>
				<td>
					@Html.ActionLink(item.JobNumber, "Details", new { id = item.Id })
				</td>
				<td>
					@item.OrderNumber
				</td>
				<td>
					@item.CreatedBy
				</td>
				<td>
					@item.DateCreated
				</td>
				<td>
					@Html.ActionLink("Approve", "ApproveJob", new { id = item.Id } )
				</td>
			</tr>
	 }
	</table>
}else{
	<div id="empty-list">@JobSystem.Resources.Jobs.Messages.NoPendingJobs</div>
}

@Html.Partial("_Create", Model.CreateViewModel)
